<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.account.dao.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="com.edu.account.model.entity.Account">
        <id column="A_ID" property="id"/>
        <result column="A_MOBILE" property="mobile"/>
        <result column="A_PW" property="pw"/>
        <result column="WX_OPENID" property="wxOpenid"/>
        <result column="SERIAL" property="serial"/>
        <result column="REMARK" property="remark"/>
        <result column="SYS_STATUS" property="sysStatus"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="VALUE_FLAG" property="valueFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        A_ID,A_MOBILE,A_PW,WX_OPENID,SERIAL,REMARK,SYS_STATUS,CREATE_TIME,UPDATE_TIME,VALUE_FLAG
    </sql>
    
    <select id="checkRegistered" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_account where A_MOBILE = #{mobile}
    </select>

    <select id="selectPwByID" parameterType="java.lang.String" resultType="java.lang.String">
        select A_PW from t_account where A_ID =#{id}
    </select>

    <update id="updatePwByID" parameterType="java.lang.String">
        update t_account set A_PW = #{pw} where A_ID = #{id}
    </update>
</mapper>