<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.account.dao.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.edu.account.model.entity.Student">
        <id column="A_ID" property="aID"/>
        <result column="A_NAME" property="name"/>
        <result column="A_SEX" property="sex"/>
        <result column="BARFDATE" property="barfdate"/>
        <result column="A_AGE" property="age"/>
        <result column="A_STU_NUM" property="stuNum"/>
        <result column="SERIAL" property="serial"/>
        <result column="REMARK" property="remark"/>
        <result column="SYS_STATUS" property="sysStatus"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="VALUE_FLAG" property="valueFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
       A_ID,A_NAME,A_SEX,BARFDATE,A_AGE,A_STU_NUM,SERIAL,REMARK,SYS_STATUS,CREATE_TIME,UPDATE_TIME,VALUE_FLAG
    </sql>

    <insert id="insert" parameterType="Student">
        insert into t_account_stu(A_ID,A_NAME,A_SEX,BARFDATE,A_AGE,A_STU_NUM,SERIAL,REMARK,SYS_STATUS,CREATE_TIME,UPDATE_TIME,VALUE_FLAG)
        values (#{aID},#{name},#{sex},#{barfdate},#{age},#{stuNum},#{serial},#{remark},#{sysStatus},#{createTime},#{updateTime},#{valueFlag})
    </insert>

    <select id="selectByStuNum" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_account_stu
        where A_STU_NUM = #{stuNum}
    </select>

    <select id="selectByStudentID" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_account_stu
        where A_ID = #{id}
    </select>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_account_stu
        where A_ID in (#{ids})
        <if test="name != null and name != ''">
            and A_NAME like "%"#{name}"%"
        </if>
        <if test="startAge != null and endAge != null">
            and A_AGE between #{startAge} and #{endAge}
        </if>
        <if test="sex != null and sex != ''">
            and A_SEX =#{sex}
        </if>
        limit #{pageNo},#{pageRow}
    </select>

    <select id="selectCountByParams" resultType="java.lang.Integer">
        select count(*) from t_account_stu
        where A_ID in (#{ids})
        <if test="name != null and name != ''">
            and A_NAME like "%"#{name}"%"
        </if>
        <if test="startAge != null and endAge != null">
            and A_AGE between #{startAge} and #{endAge}
        </if>
        <if test="sex != null and sex != ''">
            and A_SEX =#{sex}
        </if>
    </select>
</mapper>